<!--copy from catalog.html START -->
<header class="secondary">
  <div class="background-image-holder parallax-background overlay" data-stellar-background-ratio="0.9">
    <!--<img class="background-image" alt="Background Image" src="images/1600x900.png">-->
    <!--copy this from index.html.erb we already change to rilas format. change bg-7 to 5-->
    <%= image_tag('bg-5.jpg',class:'background-image',alt:'Background')%>
  </div>

  <div class="container align-vertical hero">
    <div class="row">
      <div class="col-md-5 text-left">
        <h1>Our Shop</h1>
        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</header>
<!--copy from catalog.html END -->



<!--copy from catalog-list.html START -->
<section class="product-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="thumbnail">
                <img src="images/555x370.png" alt="">
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="product-details">
                <h2 class="product-title">Yellow chair</h2>
                <p class="product-price">$90</p>
                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptat et molestiae non.</p>

                <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.row -->
<!--copy from catalog-list.html END -->
  </div> <!--container-->
</section> <!--product-list ,add above two end by ourown-->






<!--copy from catalog.html START -->
<!--load more icon-->
<div class="no-padding-top section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="#" class="load-more"><i class="fa fa-ellipsis-h"></i></a>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!--copy from catalog.html END -->
